.main-background {
  background-image: url(images/background.png);
  background-size: 20px 10px;
  background-color: #EAEBF0;
  font-family: "FiraSans", sans-serif;
}
.header-main {
  display: flex;
  justify-content: space-between;
  background-color: #fff
}
.header-compass-logo {
  width: 179.1px;
  height: 24px;
  padding-left: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  object-fit: contain;
}
.header-navigation {
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1;
}
.header-navigation-links {
  margin-left: 32px;

  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}
.compass-dev {
  height: 291px;
  display: flex;
  justify-content: center;
  background-color: #161616;
  margin-bottom: 0px;
}
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction-main-heading {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  color: #3e4247;
  font-family: "FiraSans",sans-serif;
  font-size: 1.5rem;
}
.introduction-text {
  margin-bottom: 1rem;
  text-align: center;
  font-size: "FiraSans", sans-serif;
  font-size: 1rem;
}
.introduction-button {
  background-color: #000;
  border-radius: 2px;
  border-color: #000;
  padding-left: 1.9375rem;
  padding-right: 1.9375rem;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
  margin-bottom: 4rem;
  color: #fff;
  font-family: "FiraSans", sans-serif;
}
