html {
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

.complexes {
  background-image: url(images/background.png);
  background-size: 1.25rem 0.625rem;
  background-color: #EAEBF0;
}

.complex {
  background: #fff;
}

.complex-modalGallery {
  overflow: hidden;
}

/* --- fix horizontal scroll on xs and sm (flexboxgrid bug) --- */
.container-custom {
  max-width: 1216px;
  margin: 0 auto;
}

.row-custom {
  display: flex;
  box-sizing: border-box;
  padding-left: -1rem;
  padding-right: -1rem;
  flex-wrap: wrap;
}

.col-custom {
  display: flex;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-left: 1rem; 
  padding-right: 1rem;
}

.order-start {
  order: 1;
}